// list07
section.list_07(data-menu='true')
	.layoutWrap
		h2.title SELECTED ARTICLES
		ul.article
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/82398', target='_blank', data-imgload='img/article/l_07/01.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/82398', target='_blank')
						h3 《延禧攻略》正夯！PUMA Thunder Desert「莫蘭迪色調」Dad Shoe 穿上保證仙氣十足！
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/82156', target='_blank', data-imgload='img/article/l_07/02.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/82156', target='_blank')
						h3 【惱話題】Curry 、肯爺都曾簽過自己代言的假鞋！盤點現今假貨商的誇張行徑 Top 3
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/82438', target='_blank', data-imgload='img/article/l_07/03.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/82438', target='_blank')
						h3 【NOW話題】想得寵，膚質得好！特搜 4 位「延禧娘娘保養祕技」，各位妃子還不快學！
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/82386', target='_blank', data-imgload='img/article/l_07/04.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/82386', target='_blank')
						h3 【鬧話題】因為偷笑被吹技術犯規？盤點「NBA 歷史上唯一紀錄」你覺得誰的最奇葩？
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/82246', target='_blank', data-imgload='img/article/l_07/05.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/82246', target='_blank')
						h3 【鬧話題】有一個小王最實在！特搜宮廷劇「嬪妃晉級」3 大秘訣公開　「這一招」讓妳打怪打到成寵妃！
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/82458', target='_blank', data-imgload='img/article/l_07/06.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/82458', target='_blank')
						h3 【鬧話題】《鬼修女》還不是最可怕的！盤點 9 月熱播恐怖電影 駭人習俗「送肉粽」煞氣最重
// list07 end