// list08
section.list_08(data-menu='true')
	.layoutWrap
		h2.title RELATED ARTICLES
		ul.article
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/82459', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/82459/5b866533e1730.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/82459/5b866533e1730.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/82459', target='_blank')
						h3 【NOW話題】「嘉貴妃」古裝美艷時裝性感！《如懿傳》各宮嬪妃下戲模樣曝光
				.date Aug 29.2018 | by 山抓
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/82437', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/82437/5b88bac729b3c.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/82437/5b88bac729b3c.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/82437', target='_blank')
						h3 【NOW話題】霧感妝效可以打入冷宮啦！這 4 款「水波光底妝」秋冬必寵！
				.date Aug 29.2018 | by 熊編
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/82387', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/82387/5b8fabfde57e9.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/82387/5b8fabfde57e9.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/82387', target='_blank')
						h3 【NOW話題】老到已過保存期限？剖析讓「老爹球鞋」逐漸退燒的 4 大主因
				.date Sep 07.2018 | by Jerry
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/82486', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/82486/5b974e2774992.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/82486/5b974e2774992.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/82486', target='_blank')
						h3 【NOW話題】NIKE LeBorn 16 全面曝光 ！設計師：「我們將鞋面編織技術推向了另一個層級」
				.date Sep 11.2018 | by Xin
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/82166', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/82166/5b8d120c5d1f2.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/82166/5b8d120c5d1f2.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/82166', target='_blank')
						h3 【NOW話題】這些我們聽到爛的熱門歌曲原本的演唱人竟不是她/他？ 網友：實在很難想像小甜甜布蘭妮唱這首誒⋯⋯
				.date Sep 03.2018 | by Normal Girl
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/82241', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/82241/5b8fc0a0dbe72.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/82241/5b8fc0a0dbe72.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/82241', target='_blank')
						h3 【NOW話題】不避諱陰柔形象？這些男歌手紅遍全世界　走的都是「中性風」！
				.date Sep 05.2018 | by 李恩
// list08 end