// list09
section.list_09(data-menu='true')
	.layoutWrap
		h2.title JUKSY STAR
		.article
			ul.pic.showOnScroll(data-show-offset='100', data-show-animation='custom_R2Lflow')
				li.now
					a.img.imgLoading(href='https://www.juksy.com/archives/82495', target='_blank', data-imgload='img/article/l_09/01.png')
				li
					a.img.imgLoading(href='https://www.juksy.com/archives/82498', target='_blank', data-imgload='img/article/l_09/02.png')
			.txt
				ul.dateWrap
					li.now
						.date 30
						.month Aug
							br
							| 2018
						.author by One
					li
						.date 07
						.month Sep
							br
							| 2018
						.author by One
				ul.main
					li.now
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-dotdotdot='true', href='https://www.juksy.com/archives/82495', target='_blank')
								h3 【暢玩人生】每個女孩心中都有一位江直樹！鄭元暢「到現在我都覺得惡作劇之吻是一部平凡又神奇的作品」
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-dotdotdot='true') 「到現在我都覺得惡作劇之吻是一部非常平凡又神奇的作品，它就是一個很平凡的愛情故事，但也因為這樣的平凡反而更貼近人心。」 - 鄭元暢
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/82495', target='_blank') Read More >>
					li
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-dotdotdot='true', href='https://www.juksy.com/archives/82498', target='_blank')
								h3 【暢玩人生】小綜鄭元暢展現「模特身材演員魂」的專業！一次挑戰三種不同造型的角色風格
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-dotdotdot='true') 擁有 10 多年戲劇經驗的鄭元暢，無論是現代劇、古裝劇各種角色、扮相都體驗過，因此這次名人服裝單元我們也特地以「角色扮演」的方式去做設定，請鄭元暢分別挑戰「鬱鬱寡歡的花美男」、「童心未泯輕熟男」跟「神經大條的英倫偵探」看看鄭元暢會如何演繹這三個截然不同的角色！
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href=' https://www.juksy.com/archives/82498', target='_blank') Read More >>
			.navWrap
				.nav
					.btn.left.end <
					.number
						span.now 1
						| /
						span.total 2
					.btn.right >
// list09 end